.calendar_heading {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #545fc4;
}
#stats_heading{
    margin-top: 80px;
}
.git-hub-chart {
    height: 200px;
    width: 90%;
    margin-top: 40px;
}
.stats_img{
    margin-top: 45px;
}
@media (max-width: 800px) {
 .git-hub-chart {
    height: 90px;
    width: 90%;
    margin-top: 20px;
}
#stats_heading{
    margin-top: 40px;
}
.stats_img{
    margin-top: 20px;
    height: 140px;
    width: 90%;
}
.calendar_heading {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #545fc4;
}
}